<h3>Device</h3>

@*<div class="container">
    <ul id="toDoItems" class="list-group align-self-sm-stretch mt-4">
        @foreach (var device in Devices)
        {
            <li class="list-group-item @(device.Name? "change" : "")">@device.Name<button class="btn btn-danger">X</button></li>
        }
    </ul>
</div>

@code {

    [Parameter]
    public IEnumerable<Device> Devices { get; set; } = new List<Device>();

}
*@