@page "/devicedetail/{DeviceId}"


<h1>Details for @Device.Name</h1>
<div class="card">
    <img src="..." class="card-img-top" alt="...">

    <div class="card-body">
        <h5 class="card-title">Detailed information for: @Device.Name</h5>
        <p class="card-text">This page contains technical data sheet, documents library and links to offering related to this product.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>