@page "/deviceedit"
@page "/deviceedit/{DeviceId}"

<section class="">


    <EditForm EditContext="editContext" OnValidSubmit="OnAddDevice" id="deviceForm" class="py-4 container">
        <div class="input-group input-group-lg">
            <InputText @bind-Value="createDevice.Name" type="text" class="form-control" id="todoInput" placeholder="Add todo..." autofocus></InputText>
            @* <ValidationMessage For="@(() => createItem.Text)"></ValidationMessage>*@
            <div class="input-group-append input-group-lg">
                <button type="submit" id="addItemBtn" class="btn btn-info">ADD</button>
            </div>
        </div>
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <ValidationSummary></ValidationSummary>
    </EditForm>

</section>

