@page "/deviceoverview"

<h2>Device Overview</h2>

@*//Must have when working with a async call ex. API *@
@if (Devices == null)
{
    <p><em>Loading ...</em></p>

}
else
{
 
<table class="table table-light">
    <thead class="table-primary">
        <tr>
            <th>DeviceId</th>
            <th>Name</th>
            <th>Online</th>
            <th>LocationId</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var device in Devices)
        {
            <tr>
                 <td>@device.DeviceId</td>
                 <td>@device.Name</td>
                    <td>
                    <span class="d-inline-block"></span>
                        <span><input type="checkbox" readonly checked="@device.Online" /></span>
                    </td>
                 <td>@device.LocationId</td>
            </tr>
        }
    </tbody>
    </table>
}